asgiref==3.9.1
attrs==26.1.0
black==26.5.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.4.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
djlint==1.36.4
drf-spectacular==0.29.0
EditorConfig==0.17.1
idna==3.11
inflection==0.5.1
isort==8.0.1
jsbeautifier==1.15.4
json5==0.14.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==11.3.0
platformdirs==4.9.6
psycopg2-binary==2.9.12
PyJWT==2.13.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.5.9
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
